.user-list {
  position: relative;
  top: 15rem;
  background-color: aliceblue;
  width: 35%;
  margin: auto;
  border-radius: 5px;
  text-align: left;
  padding: 10px;
}
.user-list ul {
  list-style: none;
}
.user-list ul li {
  font-size: 1.5rem;
  border: solid rgba(0, 0, 0, 0.397) 1px;
  padding: 5px;
  margin: 5px;
}
